body {
  background-color: blue;
}

.table-visual {
  background-color: rgb(48, 83, 76);
  height: 650px;
  /* width: 700px; */
  border-radius: 100%;
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.dealerPos {
  background-color: pink;
  position: absolute;
  left: 28%;
  top: 20px;
  width: 400px;
  height: 150px;
}

.posOne {
  background-color: green;
  position: absolute;
  left: 6%;
  bottom: 120px;
  width: 400px;
  height: 160px;
}

.posTwo {
  background-color: yellow;
  position: absolute;
  right: 6%;
  bottom: 120px;
  width: 400px;
  height: 160px;
}

.betDiv {
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.betOne {
  background-color: Red;
  position: absolute;
  top: -71%;
  left: 65%;
}

.betTwo {
  background-color: Black;
  position: absolute;
  top: -71%;
  right: 65%;
}

.card,
.card-red {
  height: 122px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.card-red {
  color: red;
}
