.background-img {
  background: url(../../assets/images/ace-of-spades.jpg);
  /* Full height */
  height: 100%;
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
