.form .form-group {
  margin: 1.2rem 0;
}

.form {
  padding: 2% 5%;
}

.form .form-text {
  display: block;
  margin-top: 0.2rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  outline: 0;
  box-shadow: 3px 1px 6px;
}

.subButt {
  padding: 5px 18px;
  margin: 10px 10px;
  border-radius: 20px;
}

.subButt:hover {
  opacity: 0.7;
}

.error-style {
  font-size: 14px;
  color: red;
  font-style: italic;
}

.spade-logo {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}
